unpackaged/flows/CloneOppLineItems_Clean-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>DEBUGAssignLoopOLItoArray</name>
        <label>DEBUGAssignLoopOLItoArray</label>
        <locationX>560</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>DEBUGLoopSingleOLIVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEBUGLoopSingleOLIVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEBUGAssignLoopOLItoArray_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEBUGAssignLoopOLItoArray_0</name>
        <label>DEBUGAssignLoopOLItoArray</label>
        <locationX>387</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>DEBUGOLIsSelectedInLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DEBUGLoopSingleOLIVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEBUGLoopOverInitialOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEBUGAssignSelectedOLIToCollection</name>
        <label>DEBUGAssignSelectedOLIToCollection</label>
        <locationX>1040</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>DEBUGOLIsSelectedInLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DEBUGSingleOLIScreenSelect</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>HasLineItemsDecision</name>
        <label>HasLineItemsDecision</label>
        <locationX>391</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>IntroScreen_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasLineItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IntroScreen</targetReference>
            </connector>
            <label>HasLineItems</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasProductSelected</name>
        <label>WasProductSelected</label>
        <locationX>774</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>DEBUGLoopOverInitialOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncludeProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUGAssignLoopOLItoArray</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DEBUGChoiceForSingleLoopSOBject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DEBUGLoopSingleOLIVar.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.ListPrice</assignToReference>
            <field>ListPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.OpportunityId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Product2Id</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DebugOLIChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0061500000VSVdHAAX</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.ListPrice</assignToReference>
            <field>ListPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.OpportunityId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Product2Id</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DEBUGSingleOLIScreenSelect.UnitPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppLineItemsDynamicRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>OLISobjectForScreenSelection.Product2Id</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OLISobjectForScreenSelection.Quantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CloneOppLineItems_Clean {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneOppLineItems_Clean</label>
    <loops>
        <name>DEBUGLoopOverInitialOLIs</name>
        <label>DEBUGLoopOverInitialOLIs</label>
        <locationX>559</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>DEBUGLoopSingleOLIVar</assignNextValueToReference>
        <collectionReference>DEBUGOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PleaseSelectOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEBUGSaveSelectedOLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>DEBUGSaveSelectedOLIs</name>
        <label>DEBUGSaveSelectedOLIs</label>
        <locationX>647</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>StopScreen</targetReference>
        </connector>
        <inputReference>DEBUGOLIsSelectedInLoop</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindOpp</name>
        <label>FindOpp</label>
        <locationX>222</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasLineItemsDecision</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>DEBUGOLIs</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>ListPrice</queriedFields>
    </recordLookups>
    <screens>
        <name>DEBUGOLISelectionScreen</name>
        <label>DEBUGOLISelectionScreen</label>
        <locationX>878</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEBUGAssignSelectedOLIToCollection</targetReference>
        </connector>
        <fields>
            <name>DebugIncludeProduct</name>
            <choiceReferences>DEBUGChoiceForSingleLoopSOBject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include Product?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>IntroScreen</name>
        <label>IntroScreen</label>
        <locationX>389</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEBUGLoopOverInitialOLIs</targetReference>
        </connector>
        <fields>
            <name>IntroMessage</name>
            <fieldText>This Opportunity was cloned from a previous opportunity but does not have any Opportnity Product Line Items.  Would you like to select which Product Line Items to clone?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>IntroScreen_End</name>
        <label>IntroScreen_End</label>
        <locationX>213</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IntroMessage_0</name>
            <fieldText>This Opportunity already has line items.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PleaseSelectOLI</name>
        <label>PleaseSelectOLI</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WasProductSelected</targetReference>
        </connector>
        <fields>
            <name>ProductDetails</name>
            <fieldText>Product Name:  {!DEBUGLoopSingleOLIVar.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ListPrice</name>
            <fieldText>List Price:  {!DEBUGLoopSingleOLIVar.ListPrice}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>DEBUGLoopSingleOLIVar.Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>IncludeProduct</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Include</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>StopScreen</name>
        <label>StopScreen</label>
        <locationX>849</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stop</name>
            <fieldText>EndMessage</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>FindOpp</startElementReference>
    <variables>
        <name>DEBUGLoopSingleOLIVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DEBUGOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DEBUGOLIsSelectedInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DEBUGSingleOLIScreenSelect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>This is the Opportunity to which the new Line Items will be assigned.</description>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OLISobjectForScreenSelection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
